{% extends 'base.html' %} {% block content %}
    {% load staticfiles %}

    <div class="container">
  <div class="row">
    <div class="page-header"><h1>Reserve a Package</h1></div>
    <div class="well"><h5>Main Notice</h5>Donec nisi ante, pretium a cursus sit amet, pretium ac ligula. Vivamus sed dapibus risus, eu porttitor urna. Ut nec interdum mi. Vestibulum sollicitudin nunc non erat molestie pharetra. Nunc iaculis ante eget leo eleifend porttitor. Pellentesque eu leo pellentesque, mattis lacus ut, bibendum ante. Vivamus ac arcu velit.</div>

<form  method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-default" aria-haspopup="true" aria-expanded="false" />
        </form>

  </div>

    </div>

{% endblock %}


