{% extends 'base.html' %}{% block content %}
<div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>About Family Entertainment Center</h1>
    </div>
  </div>
</div>
  <div class="row">
  <div class="col-md-8">
    <p>Cras ac accumsan odio, luctus mollis tortor. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin porta purus ut erat dictum, vel efficitur nibh porta. Nulla consectetur accumsan nunc, ac placerat elit tempor vitae. Praesent vitae felis diam. Nullam id dapibus sem. Nullam eu tellus scelerisque quam ultrices suscipit vitae id mauris. Ut enim dolor, molestie quis risus sed, aliquam consectetur turpis. Vivamus eget enim eget ante lobortis placerat. Nullam placerat lectus justo, vel lacinia erat viverra quis. Nunc semper a libero non aliquam. Quisque eget erat eu massa vestibulum faucibus.</p>
    <p>Proin arcu odio, suscipit a tincidunt nec, feugiat in tortor. Aliquam sed tortor eu lacus ullamcorper porta eget sit amet nibh. Nunc vitae tortor scelerisque dolor sollicitudin viverra ac eget mauris. In hac habitasse platea dictumst. Nam a posuere enim. Quisque sed metus a diam luctus vehicula. Nam convallis convallis urna feugiat dictum. Suspendisse sit amet laoreet lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris facilisis risus eu magna tristique blandit. Maecenas nec viverra quam, eu pretium tortor. Aenean varius eros massa, et gravida est fermentum et. Curabitur orci dui, mollis vel tortor at, finibus facilisis mi. Mauris nibh magna, volutpat efficitur justo eget, dictum suscipit augue. Donec eget libero vitae neque tincidunt rhoncus. Donec volutpat at lectus in suscipit.</p>
  </div>
  <div class="col-md-4">
    Twitter feed
  </div>
</div>
<hr>

    <div class="row">
        <div class="col-md-12">
            <h2>Marketing Materials</h2><a href="#" class="btn btn-primary btn-lg" title="Download Marketing Package"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download Marketing Package</a>
        </div>
    </div>

</div>
{% endblock %}
