{% extends 'base.html' %} {% block content %}
    {% load staticfiles %}

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>{{ employee.firstName }}&nbsp;{{ employee.lastName }}<small>&nbsp;#{{ employee.id}}</small></h1>
            </div>
            <div class="panel-default panel">
                <div class="panel-heading">Employee Information</div>
                <div class="panel-body">
                    <strong>First Name:</strong> {{ employee.firstName }}
                    <br/>
                    <strong>Last Name:</strong> {{ employee.lastName }}
                    <br/>
                    <strong>Wage:</strong> ${{ employee.wage }}
                </div>
            </div>
        </div>
        <div class="row">
            edit all options, notes, and fire
        </div>
        <div class="row">
            <hr/>
            <a href="/manager" type="button" class="btn btn-sm btn-primary" aria-expanded="false"><i class="fa fa-back" aria-hidden="true"></i>&nbsp;Return to Management Panel</a>
        </div>

    </div>
{% endblock %}


