{% extends 'base.html' %} {% block content %}
    {% load staticfiles %}





    <div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Hello&nbsp;<i class="fa fa-hand-paper-o" aria-hidden="true"></i>,</h1>
      <p>Welcome to the Family Entertainment Center Homepage</p>
    </div>
  </div>
    </div>
  <br>



<div class="container">
  <div class="row">
    <div class="page-header col-md-12">
      <h1>New Movie Theaters Built</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>Cras ex arcu, gravida in sem at, ullamcorper consequat nisl. Donec eu iaculis purus. Morbi in lorem non lorem imperdiet finibus. Fusce mattis tincidunt est in blandit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus. Morbi laoreet odio id ipsum placerat rhoncus. Nulla diam ex, ornare mollis eros nec, ornare feugiat purus.</p>
      <p>Pellentesque pulvinar vulputate velit et euismod. Nullam molestie cursus lectus, ut finibus dolor pulvinar vel. Fusce eu ligula id justo mattis tincidunt. Suspendisse vitae tortor metus. Proin non est sit amet ipsum suscipit feugiat at eget erat.
        Ut erat quam, mattis ut dictum ut, blandit a metus. Aenean id tortor ac augue feugiat placerat in non purus. Aliquam eget pretium turpis, cursus ultricies eros. Donec fermentum orci bibendum lacus scelerisque faucibus. Proin tincidunt ut nunc
        quis mattis. Curabitur imperdiet fringilla eros et iaculis. Donec dignissim egestas nibh ac porta. Nam pretium dui non mattis laoreet. Etiam finibus mi accumsan neque feugiat porta. Donec lacinia consectetur fringilla.</p>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item">
    Movie Theater
  </a>
        <a href="#" class="list-group-item">Lazer Tag</a>
        <a href="#" class="list-group-item">Arcade</a>
        <a href="#" class="list-group-item">Food</a>
      </div>
    </div>
  </div>
  <hr/>
</div>

    <div class="container">
	<div class="row">
    			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

					<!-- PRICE ITEM -->
					<div class="panel price panel-red">
						<div class="panel-heading  text-center">
						<h3>PRO PLAN</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$10 / month</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Personal use</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited projects</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> 27/7 support</li>
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-danger" href="#">BUY NOW!</a>
						</div>
					</div>
					<!-- /PRICE ITEM -->


				</div>

				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

					<!-- PRICE ITEM -->
					<div class="panel price panel-blue">
						<div class="panel-heading arrow_box text-center">
						<h3>DEV PLAN</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$20 / month</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-info"></i> Personal use</li>
							<li class="list-group-item"><i class="icon-ok text-info"></i> Unlimited projects</li>
							<li class="list-group-item"><i class="icon-ok text-info"></i> 27/7 support</li>
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-info" href="#">BUY NOW!</a>
						</div>
					</div>
					<!-- /PRICE ITEM -->


				</div>

				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

					<!-- PRICE ITEM -->
					<div class="panel price panel-green">
						<div class="panel-heading arrow_box text-center">
						<h3>FREE PLAN</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$0 / month</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-success"></i> Personal use</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited projects</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> 27/7 support</li>
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-success" href="#">BUY NOW!</a>
						</div>
					</div>
					<!-- /PRICE ITEM -->


				</div>

				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

					<!-- PRICE ITEM -->
					<div class="panel price panel-grey">
						<div class="panel-heading arrow_box text-center">
						<h3>FREE PLAN</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$0 / month</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-success"></i> Personal use</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited projects</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> 27/7 support</li>
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-primary" href="#">BUY NOW!</a>
						</div>
					</div>
					<!-- /PRICE ITEM -->


				</div>







			</div>

</div>

{% endblock %}


