


<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Login</title>

	{% load staticfiles %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link href="{% static 'css/login.css' %}?v=00001" rel="stylesheet">
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>

</head>

<body translate="no" >
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
	{% if user.is_authenticated %}
	<p>Your account doesn't have access to this page. To proceed,
	please login with an account that has access.</p>
	{% else %}
	<p>Please login to see this page.</p>
	{% endif %}
{% endif %}


<div class="pen-title">
	<h1>Login</h1>
</div>
<div class="container">
	<div class="card"></div>
	<div class="card">
		<form {% url 'login' %} method="post" >
		{% csrf_token %}
			<div class="input-container">
				{{ form.username }}
				{{ form.username.label_tag }}
				<div class="bar"></div>
			</div>
			<div class="input-container">
				{{ form.password }}
				{{ form.password.label_tag }}
				<div class="bar"></div>
			</div>
			<div class="button-container">
				<button><span>Go</span></button>
			</div>
			<div class="footer"><a href="#">Forgot your password?</a></div>
		</form>
	</div>

</div>

{% endblock %}

{% block javascript %}
<a id="portfolio" href="https://slattery.tech" title="Return to Main Site"><i class="fa fa-home"></i></a>

  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="https://use.fontawesome.com/14b421928d.js"></script>
	<script>
	$('.toggle').on('click', function() {
$('.container').stop().addClass('active');
});

$('.close').on('click', function() {
$('.container').stop().removeClass('active');
});
</script>


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}





</body>
</html>
