{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">
  <div class="page-header">
    <h1>Settings<small> ~ logged in as {{ user.get_username }}</small></h1>
  </div>

</div>
<div class="row">
  <div class="col-md-6">
  <h3>Email</h3>
  <div class="input-group">
      <input type="text" class="form-control" placeholder="{{ request.user.email }}">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Change Email</button>
      </span>
    </div>
    <h3>Email Subscription</h3>
    <button class="btn btn-danger" type="button">Unsubscribe From All Emails</button>
  </div>
  <div class="col-md-6">
    <h3>Password</h3>
    <div class="row" style="padding-bottom: 10px;">
        <input type="text" class="form-control" placeholder="Current Password">
    </div>
    <div class="row" style="padding: 10px 0px;">
        <input type="text" class="form-control" placeholder="New Password">
    </div>
    <div class="row" style="padding: 10px 0px;">
        <input type="text" class="form-control" placeholder="Repeat Password">
    </div>
    <div class="row" style="padding: 10px 0px;">
        <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Change Password</button>
      </div>
</div>
</div>
{% endblock %}
