.logoUp {
  position: relative;
  top: -10px;
  left: 0px;
}
.sch td {
  text-align: center;
}
.errorlist {
    display: none !important;
}
.build {

}
.monday:hover, .tuesday:hover, .wednsday:hover, .thursday:hover, .friday:hover, .saturday:hover, .sunday:hover {
    background-color: #ecf0f1;
    cursor: pointer;
}