{% extends 'base.html' %} {% block content %}
    {% load staticfiles %}

    <div class="container">
      <style>
        .disabled {
          cursor: not-allowed;

        }
      </style>
  <div class="row">
<div class="col-md-6">
<form  method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-default" aria-haspopup="true" aria-expanded="false" />
        </form>

  </div>
<div class="col-md-6">
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">

  <!-- PRICE ITEM -->
  <div class="panel price panel-red">
    <div class="panel-heading  text-center">
    <h3>FAMILY PLAN</h3>
    </div>
    <div class="panel-body text-center">
      <p class="lead" style="font-size:40px"><strong>$100</strong></p>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item"><i class="icon-ok text-danger"></i> 25 Laser Tag Games</li>
      <li class="list-group-item"><i class="icon-ok text-danger"></i> Two Pizzas</li>
      <li class="list-group-item"><i class="icon-ok text-danger"></i> 250 Arcade Tokens</li>
    </ul>
    <div class="panel-footer">
      <a class="btn btn-lg btn-block btn-info" href="#" onclick="$('.disabled').val('FAMILY PLAN')">RESERVE</a>
    </div>
  </div>
  <!-- /PRICE ITEM -->


</div>

<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">

  <!-- PRICE ITEM -->
  <div class="panel price panel-blue">
    <div class="panel-heading arrow_box text-center">
    <h3>MOVIE ADDICT</h3>
    </div>
    <div class="panel-body text-center">
      <p class="lead" style="font-size:40px"><strong>$50</strong></p>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item"><i class="icon-ok text-info"></i> Four Movie Tickets</li>
      <li class="list-group-item"><i class="icon-ok text-info"></i> Two Large Popcorn</li>
      <li class="list-group-item"><i class="icon-ok text-info"></i> Two Large Drinks</li>
    </ul>
    <div class="panel-footer">
      <a class="btn btn-lg btn-block btn-info" href="#" onclick="$('.disabled').val('MOVIE ADDICT')">RESERVE</a>
    </div>
  </div>
  <!-- /PRICE ITEM -->


</div>

<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">

  <!-- PRICE ITEM -->
  <div class="panel price panel-grey">
    <div class="panel-heading arrow_box text-center">
    <h3>LASER NIGHT</h3>
    </div>
    <div class="panel-body text-center">
      <p class="lead" style="font-size:40px"><strong>$80</strong></p>
    </div>
    <ul class="list-group list-group-flush text-center">
      <li class="list-group-item"><i class="icon-ok text-success"></i> 30 Laser Tag Games</li>
      <li class="list-group-item"><i class="icon-ok text-success"></i> 500 Arcade Tokens</li>
      <li class="list-group-item"><i class="icon-ok text-success"></i> Two Large Pizzas</li>
    </ul>
    <div class="panel-footer">
      <a class="btn btn-lg btn-block btn-info" href="#" onclick="$('.disabled').val('LASER NIGHT')">RESERVE</a>
    </div>
  </div>
  <!-- /PRICE ITEM -->


</div>

</div>
    </div>
  </div>

{% endblock %}
