{% extends 'base.html' %} {% block content %}
    {% load staticfiles %}

    <div class="container">
        <div class="row">

            <h1>Package: {{ reserve.package }}</h1>
            <h4>Day: {{ reserve.time }}</h4>

        </div>
        <hr>
        <div class="row">
             <div class="panel panel-default">
                 <div class="panel-heading">Reservation //&nbsp;<a href="mailto:{{ contact.email }}" title="Email">{{ contact.email }}</a></div>
              <div class="panel-body">
               <p>{{ reserve.comments }}</p>

              </div>
            </div>
            <a href="mailto:{{ contact.email }}" type="button" class="btn btn-sm btn-default" aria-expanded="false"><i class="fa fa-reply" aria-hidden="true"></i>&nbsp;Email {{ contact.name }}</a>
            <button type="button" class="btn btn-sm btn-default" aria-expanded="false"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Approve</button>
            <a href="/manager/" type="button" class="btn btn-sm btn-primary" aria-expanded="false"><i class="fa fa-back" aria-hidden="true"></i>&nbsp;Return to Manager CP</a>
        </div>

    </div>
{% endblock %}
