{% extends 'base.html' %} {% block content %}
    {% load staticfiles %}

    <div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Message Submitted</h2>
            <p>Thank you for summiting your message. Please allow time for a staff member to respond to the email in the message, thank you for contacting us!</p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'home' %}"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;&nbsp;Back to Site</a> </p>
        </div>
    </div>
    </div>
{% endblock %}


