{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <title>Saya Management</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" href="/{% static 'favicons/favicon-32x32.png' %}" sizes="32x32">
<link rel="icon" type="image/png" href="/{% static 'favicons/favicon-16x16.png' %}" sizes="16x16">
<link rel="manifest" href="/{% static 'favicons/manifest.json' %}">
<link rel="mask-icon" href="/{% static 'favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

 <!-- Core CSS - Include with every page -->
 <link href="/{% static 'css/bootstrap.min.css' %}?v=00003" rel="stylesheet">
 <link href="/{% static 'css/style.css' %}?v=00001" rel="stylesheet">
</head>

<body>

 <nav class="navbar navbar-default container">
	 <div class="container-fluid">
		 <div class="navbar-header">
			 <button type="button" style="color: #2c3e50" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				 <span class="sr-only">Toggle navigation</span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span>
			 </button>
		 </div>

		 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			 <ul class="nav navbar-nav">
				 <li><a href="{% url 'home' %}" title="Home"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;Back to Site</a></li>
			 </ul>
			 <ul class="nav navbar-nav navbar-right">
				 {% if request.user.is_authenticated %}
                 <li><a href="{% url 'inbox' %}" title="Inbox" >Inbox&nbsp;<i class="fa fa-inbox" aria-hidden="true"></i></a> </li>
				 <li class="dropdown">
					 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.get_username }}&nbsp;<span class="caret"></span></a>
					 <ul class="dropdown-menu" role="menu">
						 {% if request.user.is_superuser %}
						 <li><a href="/admin">Admin&nbsp;&nbsp;<i class="fa fa-shield" aria-hidden="true"></i></a></li>{% endif %}
						 <li><a href="/settings">Settings&nbsp;&nbsp;<i class="fa fa-cogs" aria-hidden="true"></i></a></li>
						 <li class="divider"></li>
						 <li><a href="/logout">Logout&nbsp;&nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
					 </ul>
				 </li>
				 {% endif %} {% if not request.user.is_authenticated %}
				 <li><a href="/login">Login&nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i></a></li>{% endif %}
			 </ul>
		 </div>
	 </div>
 </nav>
<div class="container">
  <div class="row">
    <div class="page-header">
          <h1>Management</h1>
    </div>
  </div>
<div class="row">
    <div class="col-md-8">
        <h4>Inbox&nbsp;<small>~ Current Time&nbsp;{% now "jS F Y H:i" %}</small></h4>
<div class="list-group">
   {% for contact in unread_messages %}
  <a href="/manager/inbox/{{ contact.id }}" class="list-group-item"><strong>{{ contact.name }}</strong>&nbsp;-&nbsp;{{ contact.subject }}&nbsp;&nbsp;<span class="badge">{{ contact.subDate }}</span></a>
    {% endfor %}
</div>
<hr>
<h4>Pending Reservations</h4>
<div class="list-group">
{% for reserve in reservation %}
<a href="/manager/reservation/{{ reserve.id }}" class="list-group-item"><strong>{{ reserve.package }}</strong>&nbsp;-&nbsp;{{ reserve.email }}&nbsp;&nbsp;<span class="badge">{{ reserve.time }}</span></a>
{% endfor %}
</div>






</div>

</div>
</div>


 {% block javascript %}

 <!-- Core Scripts - Include with every page -->
 <script src="/{% static 'js/jquery.min.js' %}" onload="window.$ = window.jQuery = module.exports;"></script>
 <script src="/{% static 'js/bootstrap.min.js' %}"></script>
 <script src="/{% static 'js/script.js' %}"></script>
     <script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>
 <script src="https://use.fontawesome.com/14b421928d.js"></script>

     <script>
var d = new Date();
document.getElementById("date").innerHTML = d.toDateString();
</script>
 {% endblock %}
 {% block footer %}

 <footer class="footer">
       <div class="container">
         <p class="text-muted">Created with&nbsp;<i class="fa fa-code" aria-hidden="true"></i>&nbsp;by James Slattery   |   &copy; 2016</p>
       </div>
     </footer>
 {% endblock %}

</body>

</html>
